.imagen-fondo{
    height: 70vh;
    width: 100%;
    background-image: url('../../../../assets/fondo.webp');
    background-position: center;
    background-size: cover;
    background-attachment: scroll
};
p-card{
    background-color: aqua;
}
img.w-full{
    height: 16rem;
    object-fit: cover;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.472);
}