<main>
    <app-navbar [items]="itemsWeb" ></app-navbar>
    <div class="imagen-fondo">
        <h1 class="text-white text-center" >Entrena con nosotros</h1>
    </div>

</main>

<section >
    <p-divider styleClass="my-1 bg-primary-reverse text-xl" >
        <div class="p-d-inline-flex p-ai-center">
            <h2  >Sobre Nosotros</h2>
        </div>
    </p-divider>
    
    <div class="justify-content-center mx-auto col-5">
        <img [src]="srcImagen" class="w-full border-round-top" alt="imagen de un peleador">
        <p class="text-justify" >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta vel quibusdam dolore fugiat aut officia consequuntur non iure minima. Similique, adipisci! Impedit sequi eveniet eligendi ex repellendus amet quis quam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veniam molestias in eveniet repellat tempora voluptatum, expedita modi odio rerum distinctio error veritatis officia nesciunt nisi dignissimos cum adipisci laudantium.
        </p>
    </div>
</section>
